{% extends '@CekurteGeneratorBundleVendor/layout.html.twig' %}
{%- block app_title -%}{{ 'Cekurte Sistemas' | trans }}{%- endblock -%}

{%- set menu_active = '' -%}

{%- block menu %}
<li class="{% if menu_active == 'home' %}active{% endif %}">
    <a href="{{ path("cekurte_home_admin_default_index") }}"><span class="glyphicon glyphicon-home"></span> {{ 'Home' | trans }}</a>
</li>
<li class="{% if menu_active == 'page' %}active{% endif %}">
    <a href="{{ path("page") }}"><span class="glyphicon glyphicon-align-justify"></span> {{ 'Pages' | trans }}</a>
</li>
{%- endblock %}

{%- block menu_right -%}
    {%- if app.user.username is defined -%}
        <li class="dropdown pull-right{% if menu_active == 'user' %} active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span>{{ app.user.username }}</span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path("_admin_fos_user_profile_show") }}"><span class="glyphicon glyphicon-cog"></span> {{ 'Perfil' | trans }}</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{{ path("_admin_fos_user_security_logout") }}"><span class="glyphicon glyphicon-log-out"></span> {{ 'Sair' | trans }}</a>
                </li>
            </ul>
        </li>
    {%- endif -%}
{%- endblock -%}

{%- block stylesheets -%}
    {{ parent() }}
{%- endblock -%}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/cekurtecustomgenerator/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/cekurtecustomgenerator/ckeditor/adapters/jquery.js') }}"></script>

    <script type="text/javascript">
        $(document).on('ready', function() {
            $( 'textarea.ckeditor' ).ckeditor();
        });
    </script>
{% endblock %}