{% extends 'CekurteGeneratorBundle::layout.html.twig' %}

{% set title    = 'Author'|trans %}
{% set subtitle = 'List'|trans %}

{% block search -%}

{% endblock %}

{% block links -%}

{% endblock %}

{% block links_footer -%}
    {{ cekurte_pagination_render(pagination) }}
{% endblock %}

{% block content -%}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    {{ cekurte_pagination_sortable('ck.id', 'ID') }}
                    {{ cekurte_pagination_sortable('ck.title', 'Title') }}
                </tr>
            </thead>
            <tbody>
                {% for item in pagination.items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
