{% extends 'CekurteGeneratorBundle::layout.html.twig' %}

{% set title    = 'Page'|trans %}
{% set subtitle = 'Listar'|trans %}

{% block search -%}
    {% include 'CekurtePagesAdminBundle:Page:search.html.twig' %}
{% endblock %}

{% block links -%}
    {% embed 'CekurteGeneratorBundle:Action:search.html.twig' only %}
    {% endembed %}
    {% embed 'CekurteGeneratorBundle:Action:create.html.twig' with {
        'route': 'page_new'
    } only %}
    {% endembed %}
    {% embed 'CekurteGeneratorBundle:Action:export.html.twig' with {
        'route': 'page_export'
    } only %}
    {% endembed %}
{% endblock %}

{% block links_footer -%}
    {{ knp_pagination_render(pagination) }}
{% endblock %}


{% block content -%}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th{% if pagination.isSorted('ck.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id', 'ck.id', {'title' : 'Ordernar por'|trans ~ ' ' ~ 'Id'}) }}</th>
                    <th{% if pagination.isSorted('ck.slug') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Slug', 'ck.slug', {'title' : 'Ordernar por'|trans ~ ' ' ~ 'Slug'}) }}</th>
                    <th{% if pagination.isSorted('ck.image') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Image', 'ck.image', {'title' : 'Ordernar por'|trans ~ ' ' ~ 'Image'}) }}</th>
                    <th{% if pagination.isSorted('ck.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'ck.title', {'title' : 'Ordernar por'|trans ~ ' ' ~ 'Title'}) }}</th>
                    <th{% if pagination.isSorted('ck.date') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date', 'ck.date', {'title' : 'Ordernar por'|trans ~ ' ' ~ 'Date'}) }}</th>
                    <th{% if pagination.isSorted('ck.active') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Active', 'ck.active', {'title' : 'Ordernar por'|trans ~ ' ' ~ 'Active'}) }}</th>
                    {% if cekurte_is_granted('RETRIEVE') or cekurte_is_granted('UPDATE') or cekurte_is_granted('DELETE') %}
                        <th class="action">{{ 'Ações'|trans }}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    <td><a href="{{ path('page_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.slug }}</td>
                    <td>
                        {%- if entity.image != '' -%}
                        <img class="img-thumbnail" src="{{ entity.image | imagine_filter('admin_thumbnail_list') }}">
                        {%- endif -%}
                    </td>
                    <td>{{ entity.title }}</td>
                    <td>{% if entity.date %}{{ entity.date|date('d/m/Y H:i:s') }}{% endif %}</td>
                    <td>{{ entity.active == true ? 'Sim' : 'Não' }}</td>
                    {% if cekurte_is_granted('RETRIEVE') or cekurte_is_granted('UPDATE') or cekurte_is_granted('DELETE') %}
                        <td>
                            {% embed 'CekurteGeneratorBundle:Action:retrieve.html.twig' with {
                                'id'    : entity.id,
                                'route' : 'page_show'
                            } only %}
                            {% endembed  %}
                            {% embed 'CekurteGeneratorBundle:Action:update.html.twig' with {
                                'id'    : entity.id,
                                'route' : 'page_edit'
                            } only %}
                            {% endembed  %}
                            {% embed 'CekurteGeneratorBundle:Action:delete.html.twig' with {
                                'form'  : delete_form,
                                'id'    : entity.id,
                                'route' : 'page_delete'
                            } only %}
                            {% endembed  %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
