{% extends 'CekurteGeneratorBundle::layout.html.twig' %}

{% set title    = 'Page'|trans %}
{% set subtitle = 'Detalhes'|trans %}

{% block links -%}
    {% embed 'CekurteGeneratorBundle:Action:list.html.twig' with {
        'route'      : 'page'
    } only %}
    {% endembed %}
    {% embed 'CekurteGeneratorBundle:Action:update.html.twig' with {
        'id'         : entity.id,
        'route'      : 'page_edit',
        'show_label' : true,
    } only %}
    {% endembed %}
    {% embed 'CekurteGeneratorBundle:Action:create.html.twig' with {
        'route'      : 'page_new',
    } only %}
    {% endembed %}
    {% embed 'CekurteGeneratorBundle:Action:delete.html.twig' with {
        'form'       : delete_form,
        'id'         : entity.id,
        'route'      : 'page_delete',
        'show_label' : true,
    } only %}
    {% endembed %}
{% endblock %}

{% block content -%}
    <div class="table-responsive">
        <table class="table table-hover table-show">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ entity.slug }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td>
                        {%- if entity.image != '' -%}
                        <img class="img-thumbnail" src="{{ entity.image | imagine_filter('page_thumbnail') }}">
                        {%- endif -%}
                    </td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ entity.title }}</td>
                </tr>
                <tr>
                    <th>Abstract</th>
                    <td>{{ entity.abstract }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ entity.description|raw }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ entity.date|date('d/m/Y H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Active</th>
                    <td>{{ entity.active == true ? 'Sim' : 'Não' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
